.ui-content {
	padding: 0em !important;
}

.spanTopBannerInfo {
	padding-left: 3px;
	width: 100%;
}

#table-lobby {
	text-align: center !important;
}

#table-lobby td {
	color: white;
	font-size: 9pt;
	text-align: center !important;
	border-left: 1px #999 solid;
}

#table-lobby th {
	border: 2px solid #b00000;
	text-align: center !important;
	color: white;
	font-size: 11pt;
	background-color: rgba(112, 0, 0, .33);
	font-weight: normal;
}

/* thead { */
/* 	position: fixed; */
/* 	right: 0; */
/* 	left: 0; */
/* 	min-width: 100%; */
/* } */

#table-lobby tbody tr:nth-child(even) {
	background-color: #666;
	border-top: 1px black solid;
}

#table-lobby tbody tr:hover {
	background-color: #111;
	color: 1px black solid;
}

#table-lobby tbody tr {
	cursor: pointer;
}

tbody {
	overflow-y: auto; /* vertical scroll    */
	overflow-x: hidden;
}