.volume-off {
	background-image:
		url("../../css/themes/default/images/icons-png/audio-white.png")
		!important;
	background-position-x: 45% !important;
	background-position-y: 45% !important;
	background-repeat: no-repeat !important;
	opacity: 1;
}

.volume-on {
	background-image:
		url("../../css/themes/default/images/icons-png/audio-white.png")
		!important;
	background-position-x: 45% !important;
	background-position-y: 45% !important;
	background-repeat: no-repeat !important;
	opacity: .3;
}


#mainTable {
	background-color: #008000;
	-moz-box-shadow: inset 0 0 22px #000000;
	-webkit-box-shadow: inset 0 0 22px #000000;
	box-shadow: inset 0 0 22px #000000;
	border-radius: 44%;
	-webkit-box-shadow: inset 0 0 22px #000000;
	box-shadow: inset 0 0 22px #000000;
}

.ui-content {
	padding: 0 !important;
}

#handPotContainer span {
	height: 100%;
	border-radius: 1px;
	padding: 2px;
	text-shadow: 0 1px 0 #b00000;
	position: relative;
}

#handPotContainer {
	text-align: center;
}

.sitPlaceContainer {
	position: relative;
	z-index: 1;
}

.actionButtons {
	margin: 0;
}

.playerNamePlace {
	margin: 0 auto;
	color: white;
	background-color: black;
	font-size: 100%;
	padding: 1px;
	text-align: center;
}

.playerTotalChipsPlace {
	margin: 0 auto;
	background-position: 0 0 !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	padding: 1px;
	/* 	padding-left: 33%; */
	color: white;
	background-color: transparent;
	font-size: 100%;
}

.otherPlayersName {
	border-bottom: 2px solid gold;
	max-height: 100%;
	font-weight: normal;
	text-align: center;
}

#flopsContainer {
	/* 	margin: 10% auto; */
	height: 44%;
	width: 66%;
}

#flopsContainer div {
	padding-left: 3px;
	padding-right: 3px;
	position: relative;
}

#flopsContainer img {
	height: 100%;
	width: 100%;
}

.playerInfo {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: #262129;
	background: linear-gradient(top, #736D70, #09131C);
	background: -ms-linear-gradient(top, #736D70, #09131C);
	background: -webkit-gradient(linear, left top, left bottom, from(#736D70),
		to(#09131C));
	background: -moz-linear-gradient(top, #736D70, #09131C);
	max-height: 100%;
	background: linear-gradient(top, #736D70, #09131C);
	background: -ms-linear-gradient(top, #736D70, #09131C);
	background: -webkit-gradient(linear, left top, left bottom, from(#736D70),
		to(#09131C));
	background: -moz-linear-gradient(top, #736D70, #09131C);
	box-shadow: 1px 1px 1px #3A454D;
	margin-right: 3px;
	width: 100%;
}

.playerCardsContainer {
	z-index: 0;
	margin: 0 !important;
}

.playersFinalCard {
	position: fixed;
	margin-left: 7px;
}

.handRankingRes {
	position: absolute;
	top: 33%;
	left: 33%;
	z-index: 11000;
	font-size: 12pt;
	background-color: rgba(0, 0, 0, .77);
	border: solid 1px rgb(0, 0, 0);
	border-radius: 3px;
	padding: 3px;
}

#userSitPlace {
	display: block !important;
}

.pscontainer {
	background-color: transparent;
	/* 	border: 1px solid #b00000; */
	/* 	border-radius: 11px; */
	z-index: 10;
	height: 100%;
}

.pscontainer img {
	/* 	position: absolute; */
	max-width: 1.1em;
	max-height: 1.1em;
}

.sitPlaceContainer {
	padding: 2px;
}

/* .sitPlaceContainer>.ui-block-a { */
/* 	width: 60%; */
/* 	height: 100%; */
/* } */

/* .sitPlaceContainer>.ui-block-b { */
/* 	width: 40%; */
/* 	height: 100%; */
/* } */
.amountToCallcontainer {
	position: absolute;
	left: 0;
	border-radius: 11%;
	border: solid 1px rgb(199, 199, 199);
	color: red;
	font-size: 100%;
	z-index: 10;
	bottom: 0;
	top: 0;
	right: 0;
	height: 27%;
	text-align: center;
	background-color: rgba(0, 0, 0, .7);
	padding: 7px;
	text-align: center;
	line-height: .7;
	font-weight: bold;
	text-shadow: white !important;
}

#panelChat {
	background: rgba(111, 111, 111, .77) !important;
}

.sitPlaceThumbnailEmpty {
	height: 77%;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 20%;
	font-size: 100%;
	box-shadow: inset 1px 1px 2px rgba(255, 66, 66, 0.1), inset 3px 11px
		33px rgba(255, 33, 33, 0.1), inset -1px -1px 2px rgba(55, 0, 0, 0.2),
		inset -3px -15px 33px rgba(122, 0, 0, .2), 1px 5px 30px -4px
		rgba(46, 11, 33, .1);
	text-align: center;
	margin: 3px;
}

.winner {
	/* 	the shadow for the winner box */
	-webkit-box-shadow: -28px 2px 135px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: -28px 2px 135px 0px rgba(255, 255, 255, 1);
	box-shadow: -28px 2px 135px 0px rgba(255, 255, 255, 1);
	/*  */
	/* gold styling */
	background: rgba(252, 234, 187, 1);
	background: -moz-linear-gradient(left, rgba(252, 234, 187, .3) 0%,
		rgba(252, 205, 77, 1) 21%, rgba(248, 181, 0, .7) 38%,
		rgba(251, 223, 147, .3) 100%) !important;
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252, 234, 187,
		.3)), color-stop(21%, rgba(252, 205, 77, 1)),
		color-stop(38%, rgba(248, 181, 0, .7)),
		color-stop(100%, rgba(251, 223, 147, 1))) !important;
	background: -webkit-linear-gradient(left, rgba(252, 234, 187, .3) 0%,
		rgba(252, 205, 77, 1) 21%, rgba(248, 181, 0, 1) 38%,
		rgba(251, 223, 147, .7) 100%) !important;
	background: -o-linear-gradient(left, rgba(252, 234, 187, .3) 0%,
		rgba(252, 205, 77, .7) 21%, rgba(248, 181, 0, 1) 38%,
		rgba(251, 223, 147, .3) 100%) !important;
	background: -ms-linear-gradient(left, rgba(252, 234, 187, .3) 0%,
		rgba(252, 205, 77, .7) 21%, rgba(248, 181, 0, 1) 38%,
		rgba(251, 223, 147, .3) 100%) !important;
	background: linear-gradient(to right, rgba(252, 234, 187, .3) 0%,
		rgba(252, 205, 77, .7) 21%, rgba(248, 181, 0, 1) 38%,
		rgba(251, 223, 147, .3) 100%);
	/*  */
}

.sitOut {
	opacity: 0.5;
}

.loser {
	-webkit-box-shadow: -28px 2px 135px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: -28px 2px 135px 0px rgba(255, 255, 255, 1);
	box-shadow: -28px 2px 135px 0px rgb(234, 24, 24) !important;
	background: rgba(248, 80, 50, 1) !important;
	background: -moz-linear-gradient(left, rgba(248, 80, 50, 1) 0%,
		rgba(246, 41, 12, 1) 46%, rgba(241, 111, 92, 1) 61%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%) !important;
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248, 80, 50, 1
		)), color-stop(46%, rgba(246, 41, 12, 1)),
		color-stop(61%, rgba(241, 111, 92, 1)),
		color-stop(71%, rgba(240, 47, 23, 1)),
		color-stop(100%, rgba(231, 56, 39, 1))) !important;
	background: -webkit-linear-gradient(left, rgba(248, 80, 50, 1) 0%,
		rgba(246, 41, 12, 1) 46%, rgba(241, 111, 92, 1) 61%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%) !important;
	background: -o-linear-gradient(left, rgba(248, 80, 50, 1) 0%,
		rgba(246, 41, 12, 1) 46%, rgba(241, 111, 92, 1) 61%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%) !important;
	background: -ms-linear-gradient(left, rgba(248, 80, 50, 1) 0%,
		rgba(246, 41, 12, 1) 46%, rgba(241, 111, 92, 1) 61%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%) !important;
	background: linear-gradient(to right, rgba(248, 80, 50, 1) 0%,
		rgba(246, 41, 12, 1) 46%, rgba(241, 111, 92, 1) 61%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%) !important;
}

.constantBannersTop {
	color: white !important;
	text-shadow: none !important;
	box-shadow: inset 1px 1px 2px rgba(190, 191, 193, 0.7), inset 3px 15px
		45px rgba(128, 135, 151, 0.1), inset -1px -1px 2px
		rgba(81, 89, 106, 0.5), inset -3px -15px 45px rgba(108, 112, 120, 0.8),
		1px 5px 30px -4px rgba(142, 145, 151, 0.1) !important;
}

#errorPopupTable {
	height: 200px !important;
	width: 300px;
	background-color: maroon;
	-webkit-box-shadow: -28px 2px 135px 0px rgba(255, 0, 0, 1);
	-moz-box-shadow: -28px 2px 135px 0px rgba(255, 0, 0, 1);
	box-shadow: -28px 2px 135px 0px rgba(255, 0, 0, 1);
	top: 48%;
}

#errorHeading {
	text-decoration: underline;
	text-decoration: blink;
	text-align: center;
}

#errorContent {
	text-align: center;
}

.circleConnect {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.circleConnected {
	background-color: green;
}

.circleBadCon {
	background-color: orange;
}

.circleDC {
	background-color: red;
}

#connectionPopup {
	display: none;
	position: absolute;
	border: solid 1px rgb(199, 199, 199);
	width: 100px;
	height: 70px;
	left: 50%;
	background-color: black !important;
	color: white !important;
	z-index: 31;
}