#mainTable {
	background-color: #777;
	border: 11px double #111;
	border-radius: 50%;
	background-image: url('../../images/icryptoLogo.png');
	background-size: 66% 66%;
	background-repeat: no-repeat;
	background-position: center;
}

.horizontalSpacer {
	height: 1%;
}

.constantBannersDiv {
	height: 14%;
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	background-color: rgba(108, 112, 120, .4);
}

.sitPlaceThumbnail {
	/* 		background-color: #b00000; */
	box-shadow: inset 1px 1px 2px rgba(111, 0, 0, 0.3), inset 3px 15px 45px
		rgba(133, 0, 0, 0.1), inset -1px -1px 2px rgba(122, 0, 0, 0.5), inset
		-3px -15px 45px rgba(112, 0, 0, 0.8), 1px 5px 30px -4px
		rgba(188, 0, 0, 1);
	border-radius: 50%;
	margin: 0 auto;
	border-radius: 50%;
	position: relative;
}

.sitPlaceThumbnailEmpty{
	box-shadow: inset 1px 1px 2px rgba(111, 111, 111, .3), inset 3px 15px 45px
		rgba(133, 133, 133, .1), inset -1px -1px 2px rgba(122, 122, 122, .5), inset
		-3px -15px 45px rgba(112, 112, 112, .8), 1px 5px 30px -4px
		rgba(188, 0, 0, 1);
	border-radius: 50%;
	margin: 0 auto;
	border-radius: 50%;
	position: relative;
	color: black;
	font-size: 11pt;
}

.sitPlaceContainer {
	position: relative;
}

.playerNamePlace {
	margin: 0 auto;
	color: white;
	background-color: black;
	position: absolute;
	font-size: 8pt;
	padding: 1px;
	border: 1px solid #666;
	border-radius: 3px;
	bottom: 0;
	left: 0;
}

.playerTotalChipsPlace {
	margin: 0 auto;
	background-image: url("../../images/game/chips.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 1px;
	padding-left: 13%;
	color: white;
	background-color: black;
	position: absolute;
	font-size: 7pt;
	border: 1px solid #666;
	border-radius: 3px;
	top: 0;
	left: 0;
}

.constantBannersDiv>div {
	height: 100%;
	border-top: 1px solid #bb0000;
	border-bottom: 1px solid #bb0000;
	box-shadow: inset 1px 1px 2px rgba(190, 191, 193, 0.3), inset 3px 15px
		45px rgba(128, 135, 151, 0.1), inset -1px -1px 2px
		rgba(81, 89, 106, 0.5), inset -3px -15px 45px rgba(108, 112, 120, 0.8),
		1px 5px 30px -4px rgba(142, 145, 151, 0.1);
}

#middleBlockContainerDIV {
	top: 15%;
	bottom: 15%;
	position: absolute;
	right: 0;
	left: 0;
	text-align: center !important;
	height: 70%;
}

#mainBoardContainerDIV {
	width: 90%;
}

#rightSideToolBar {
	background-color: white; width : 10%;
	height: 100%;
	width: 10%;
}

#gamePlayScreen {
	background-color: rgba(1, 1, 1, 1);
	position: absolute;
	display: block;
	bottom: 0 !important;
	right: 0;
	left: 0;
	top: 0;
	overflow: hidden;
}

#foldBTN {
	box-shadow: inset 1px 1px 2px rgba(255, 66, 66, 0.3), inset 3px 15px
		45px rgba(255, 33, 33, 0.1), inset -1px -1px 2px rgba(222, 0, 0, 0.5),
		inset -3px -15px 45px rgba(222, 0, 0, 0.8), 1px 5px 30px -4px
		rgba(188, 11, 33, 1);
	color: #fff !important;
	border-color: rgb(244, 66, 66) !important;
}

#checkBTN {
	box-shadow: inset 1px 1px 2px rgba(255, 215, 97, 0.3), inset 3px 15px
		45px rgba(255, 255, 44, 0.5), inset -1px -1px 2px
		rgba(255, 235, 77, 0.5), inset -3px -15px 45px rgba(215, 255, 77, 0.8),
		1px 5px 30px -4px rgba(255, 255, 93, 1);
	color: #fff !important;
	border-color: rgb(255, 255, 66) !important;
}

#allInBTN {
	box-shadow: inset 1px 1px 2px rgba(40, 166, 255, 0.3), inset 3px 15px
		45px rgba(40, 166, 255, 0.1), inset -1px -1px 2px
		rgba(70, 146, 255, 0.5), inset -3px -15px 45px rgba(80, 136, 245, 0.8),
		1px 5px 30px -4px rgba(40, 166, 255, 1);
	color: #fff !important;
	border-color: rgb(164, 214, 255) !important;
}

#raiseBTN {
	box-shadow: inset 1px 1px 2px rgba(66, 255, 66, 0.3), inset 3px 15px
		45px rgba(33, 255, 33, 0.1), inset -1px -1px 2px rgba(0, 255, 0, 0.5),
		inset -3px -15px 45px rgba(0, 222, 0, 0.8), 1px 5px 30px -4px
		rgba(11, 199, 33, 1);
	color: #fff !important;
	border-color: rgb(66, 244, 66) !important;
}

#buttonsContainerDIV {
	bottom: 0;
}

#buttonsContainerDIV a {
	height: 33% !important;
}

#flopsContainer {
	margin: 10% auto;
	height: 44%;
	width: 66%;
}

#flopsContainer div {
	padding-left: 3px;
	padding-right: 3px;
	position: relative;
}

#flopsContainer img {
	height: 100%;
	width: 100%;
}

.card-small {
	border: 1px inset black;
	border-radius: 10%;
	height: 100%;
	width: 90%; /*70% of height*/
	float: left;
	background-color: white;
}

.card-text {
	margin: 0 auto;
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
	position: absolute;
	top: 3px;
}

.card-img {
	text-align: center;
	margin: 0;
	font-size: 18pt;
	position: absolute;
	bottom: 3px;
}

.red {
	color: red;
}

.black {
	color: black;
}

.playerCardsContainer{
	border:  1px solid white;
	position: absolute;
	float: right;
}