#mainTable {
	background-color: #008000;
	-moz-box-shadow: inset 0 0 22px #000000;
	-webkit-box-shadow: inset 0 0 22px #000000;
	box-shadow: inset 0 0 22px #000000;
	border-radius: 44%;
	-webkit-box-shadow: inset 0 0 22px #000000;
	box-shadow: inset 0 0 22px #000000;
}

#handPotContainer span {
	height: 100%;
	border-radius: 1px;
	padding: 2px;
	text-shadow: 0 1px 0 #b00000;
	bottom: 7px;
	position: relative;
}

#handPotContainer {
	text-align: center;
}

.constantBannersBottom {
	height: 14%;
	width: 100%;
	background-color: rgba(108, 112, 120, .4);
}

.constantBannersTop {
	height: 10%;
	width: 100%;
	background-color: rgba(108, 112, 120, .4);
	width: 100%;
	float: none;
}

.constantBannersTop>div {
	height: 100%;
	border-bottom: 1px solid #bb0000;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow: inset 1px 1px 2px rgba(190, 191, 193, 0.7), inset 3px 15px
		45px rgba(128, 135, 151, 0.1), inset -1px -1px 2px
		rgba(81, 89, 106, 0.5), inset -3px -15px 45px rgba(108, 112, 120, 0.8),
		1px 5px 30px -4px rgba(142, 145, 151, 0.1);
	whitespace: nowrap;
}

.sitPlaceContainer {
	position: relative;
	z-index: 1;
}

.playerNamePlace {
	margin: 0 auto;
	color: white;
	background-color: black;
	font-size: 80%;
	font-weight: bold;
	padding: 1px;
}

.playerTotalChipsPlace {
	margin: 0 auto;
	background-image: url("../../images/game/chips.png") !important;
	background-position: 0 0 !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	padding: 1px;
	padding-left: 13%;
	color: white;
	background-color: transparent;
	font-size: 80%;
	/* 	border: 1px solid #666; */
	/* 	border-radius: 3px; */
}

#mainBoardContainerDIV {
	width: 100%;
	height: 76%;
}

#gamePlayScreen {
	background-color: rgba(1, 1, 1, 1);
	position: absolute;
	display: block;
	bottom: 0 !important;
	right: 0;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	text-shadow: none !important;
	color: white;
}

#flopsContainer {
	/* 	margin: 10% auto; */
	height: 44%;
	width: 66%;
}

#flopsContainer div {
	padding-left: 3px;
	padding-right: 3px;
	position: relative;
}

#flopsContainer img {
	height: 100%;
	width: 100%;
}

.card-text {
	margin: 0 auto;
	font-size: 133%;
	font-weight: bold;
	position: absolute;
	top: 2px;
	left: 40%;
}

.card1>.card-small>span {
	left: 15%;
}

.red {
	color: red;
}

.black {
	color: black;
}

.playerInfo {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: #262129;
	background: linear-gradient(top, #736D70, #09131C);
	background: -ms-linear-gradient(top, #736D70, #09131C);
	background: -webkit-gradient(linear, left top, left bottom, from(#736D70),
		to(#09131C));
	background: -moz-linear-gradient(top, #736D70, #09131C);
	max-height: 100%;
	background: linear-gradient(top, #736D70, #09131C);
	background: -ms-linear-gradient(top, #736D70, #09131C);
	background: -webkit-gradient(linear, left top, left bottom, from(#736D70),
		to(#09131C));
	background: -moz-linear-gradient(top, #736D70, #09131C);
	box-shadow: 1px 1px 1px #3A454D;
}

.playerInfo .ui-grid-a {
	border-bottom: 2px solid gold;
	max-height: 100%;
}

.playerCardsContainer {
	float: right;
	z-index: 0;
	margin: 0 !important;
	/* 	width: 100%; */
	/* 	height: 100%; */
	right: 0;
	top: 0;
	/* 	left: 0; */
	bottom: 0;
	position: absolute;
	/* 	display: none; */
}

#userSitPlace {
	display: block !important;
}

.pscontainer {
	background-color: transparent;
	width: 50% !important;
	/* 	border: 1px solid #b00000; */
	/* 	border-radius: 11px; */
	z-index: 10;
	height: 100%;
}

.pscontainer img {
	/* 	position: absolute; */
	max-width: 1em;
	max-height: 1em;
}

.sitPlaceContainer {
	padding: 2px;
}

.sitPlaceContainer>.ui-block-a {
	width: 60%;
	height: 100%;
}

.sitPlaceContainer>.ui-block-b {
	width: 40%;
	height: 100%;
}

.amountToCallcontainer {
	background-color: transparent;
	/* 	position: absolute; */
	/* 	bottom: 0; */
	/* 	left: 0; */
	border-radius: 50%;
	color: white;
	font-size: 100%;
	z-index: 10;
}

.sitPlaceThumbnailEmpty {
	height: 100%;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 50%;
	font-size: 80%;
	box-shadow: inset 1px 1px 2px rgba(255, 66, 66, 0.3), inset 3px 15px
		45px rgba(255, 33, 33, 0.1), inset -1px -1px 2px rgba(55, 0, 0, 0.5),
		inset -3px -15px 45px rgba(122, 0, 0, .3), 1px 5px 30px -4px
		rgba(46, 11, 33, .6);
}

.winner {
	/* 	the shadow for the winner box */
	-webkit-box-shadow: -28px 2px 135px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: -28px 2px 135px 0px rgba(255, 255, 255, 1);
	box-shadow: -28px 2px 135px 0px rgba(255, 255, 255, 1);
	/*  */
	/* gold styling */
	color: black !important;
	background: rgba(252, 234, 187, 1);
	background: -moz-linear-gradient(left, rgba(252, 234, 187, 1) 0%,
		rgba(252, 205, 77, 1) 21%, rgba(248, 181, 0, 1) 38%,
		rgba(251, 223, 147, 1) 100%) !important;
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252, 234, 187,
		1)), color-stop(21%, rgba(252, 205, 77, 1)),
		color-stop(38%, rgba(248, 181, 0, 1)),
		color-stop(100%, rgba(251, 223, 147, 1))) !important;
	background: -webkit-linear-gradient(left, rgba(252, 234, 187, 1) 0%,
		rgba(252, 205, 77, 1) 21%, rgba(248, 181, 0, 1) 38%,
		rgba(251, 223, 147, 1) 100%) !important;
	background: -o-linear-gradient(left, rgba(252, 234, 187, 1) 0%,
		rgba(252, 205, 77, 1) 21%, rgba(248, 181, 0, 1) 38%,
		rgba(251, 223, 147, 1) 100%) !important;
	background: -ms-linear-gradient(left, rgba(252, 234, 187, 1) 0%,
		rgba(252, 205, 77, 1) 21%, rgba(248, 181, 0, 1) 38%,
		rgba(251, 223, 147, 1) 100%) !important;
	background: linear-gradient(to right, rgba(252, 234, 187, 1) 0%,
		rgba(252, 205, 77, 1) 21%, rgba(248, 181, 0, 1) 38%,
		rgba(251, 223, 147, 1) 100%);
	/*  */
}

.loser {
	/* 	the shadow for the loser box */
	-webkit-box-shadow: -28px 2px 135px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: -28px 2px 135px 0px rgba(255, 255, 255, 1);
	box-shadow: -28px 2px 135px 0px rgba(255, 255, 255, 1);
	/*  */
	/* red styling */
	color: black !important;
	background: rgba(248, 80, 50, 1) !important;
	background: -moz-linear-gradient(left, rgba(248, 80, 50, 1) 0%,
		rgba(246, 41, 12, 1) 46%, rgba(241, 111, 92, 1) 61%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%) !important;
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248, 80, 50, 1
		)), color-stop(46%, rgba(246, 41, 12, 1)),
		color-stop(61%, rgba(241, 111, 92, 1)),
		color-stop(71%, rgba(240, 47, 23, 1)),
		color-stop(100%, rgba(231, 56, 39, 1))) !important;
	background: -webkit-linear-gradient(left, rgba(248, 80, 50, 1) 0%,
		rgba(246, 41, 12, 1) 46%, rgba(241, 111, 92, 1) 61%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%) !important;
	background: -o-linear-gradient(left, rgba(248, 80, 50, 1) 0%,
		rgba(246, 41, 12, 1) 46%, rgba(241, 111, 92, 1) 61%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%) !important;
	background: -ms-linear-gradient(left, rgba(248, 80, 50, 1) 0%,
		rgba(246, 41, 12, 1) 46%, rgba(241, 111, 92, 1) 61%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%) !important;
	background: linear-gradient(to right, rgba(248, 80, 50, 1) 0%,
		rgba(246, 41, 12, 1) 46%, rgba(241, 111, 92, 1) 61%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%) !important;
	/* 	 */
}
#btnChat{
	bottom:2%;
}
#chatBoxContainer{
	border-width:2px;
	border-radius:3px;
	border-color:maroon;
	width:100%;
	height:100%;
display:none;
}